@font-face {
    font-family: 'myfont';
    src: url('freebooterscript-webfont.eot');
    src: url('freebooterscript-webfont.eot?#iefix') format('embedded-opentype'),
         url('freebooterscript-webfont.woff') format('woff'),
         url('freebooterscript-webfont.ttf') format('truetype'),
         url('freebooterscript-webfont.svg#freebooter_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face { font-family: 'OhmegaSans'; 
	src: url('OhmegaSans-Regular.otf'); } 

@font-face { font-family: 'farray'; 
	src: url('FARRAY.otf'); }

@font-face { font-family: 'thin'; 
	src: url('Lato-Thin.ttf'); } 

@font-face { font-family: 'font2'; 
    src: url('Minnadrop-Regular.otf'); } 
    

	






