html, body {
    background-color: #F2F2F2;
    font-family: 'Lato', sans-serif;
    letter-spacing: .5px;
    color: #303030;
    font-weight: 100;
    font-size: 20px; /* font sizes used in % after this will be based on this */
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.floatright {
    float: right;
}

/* --------------- Clearfix ----------------- */
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*makes every element include the margin and padding you add to it */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*-------- GENERAL HEADINGS ----------*/
h1,
h2,
h3 {
    font-family: 'thin';
    text-transform: uppercase;
    color: #f7f7f7;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h3{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h4 {
    font-size: 110%;
    margin-bottom: 15px
}

/*--------------------------------------*/
/*------------ HEADER ------------------*/
/*--------------------------------------*/
header {
	padding-top: 0px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(
      rgba(0,0,0, .5),
      rgba(0, 0, 0, .3)
    ), url(/img/grass5.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.intro-box {
    position: absolute;
    width: 1000px;
    background-color: rgba(0,0,0,0);
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.intro-box h1 {
    color: #fff;
    font-size: 450%;
    letter-spacing: 3px;
}

.small-intro-box {
    position: absolute;
    width: 570px;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small-intro-box h2 {
    padding: 1%;
}


header h2 {
    font-weight:100;
}

/*--------------------------------------*/
/*------------ NAVIGATION --------------*/
/*--------------------------------------*/

.logo {
    float: left;
    width: auto;
    margin: 0px;
    height:80px;

}
nav {
    height: 60px;
    background-color: rgba(255,255,255,.2);
}

.main-nav {
    float: right;
    padding-top: 3px;
    height: 60px;
}


.main-nav li {
    display: inline-block; /*makes side by side */
    margin-left: 50px;
}

.main-nav li a:link,  /*link and visited look the same */
.main-nav li a:visited {
    padding: 8px 6px; /*8px top and bottom, 6px on sides */
    text-transform: uppercase;
    font-size: 90%; /*20/18 */
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: none;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

.main-nav li a:hover,  /*hover and active look the same */
.main-nav li a:active {
    border-bottom: 1px solid #fff;
}

/*--------- STICKY NAVBAR ------------*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.sticky .main-nav { margin-top: 15px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;

}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    border-bottom: 1px solid #000;
}

/*----------- MOBILE NAVBAR ------------*/

.mobile-nav-icon{
    position:absolute;
    top: 1%;
    right: 1%;
    margin-right:2%;
    cursor: pointer;
    display:none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

.sticky .mobile-nav-icon i {
    font-size: 200%;
    color: #5c5c5c;
}

/*----------------------------------------*/
/*------------- BUTTONS ------------------*/
/*----------------------------------------*/

.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 300;
}

/*------------ Circle Button ----------*/
.btn-circle {
    padding: 0px 10px;
    background-color: transparent;
    font-size: 40px;
    border: none;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:active {
    outline: 0;
    color: #fff;
}

.btn-circle:link,
.btn-circle:visited {
    outline: 0;
    color: #454545;
  }
/*------------- Box Button ------------*/
.boxbutton {
    text-transform: uppercase;
    padding: 0.67em;
    border: 1px solid #120E0E;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    background-color: rgba(255, 153, 0, .7);
    color: #000;
}

.boxbutton:hover,
.boxbutton:active {
    color: #fff;
    background-color: transparent;
  }

.boxbutton:link,
.boxbutton:visited {
    color: #000;
    background-color: rgba(255, 153, 0, .7);
  }

/*------------- Header Buttons --------------*/
.enterbtn {
    padding: 10px 30px;
    font-size: 120%;
    text-transform: uppercase;
    border: 1px solid #fff;
    overflow: hidden;
    text-decoration: none;
    border-radius: 30px;
    outline: none;
    color: #fff;
     background-color: rgba(255,255,255, .2);
    position: relative;
    display: inline-block;
    margin: 30px 20px;

}

.enterbtn:hover,
.enterbtn:active {
    color: #fff;
    background-color: transparent;
  }

.enterbtn:link,
.enterbtn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;

  }

/* --------- ABOUT SECTION ----------- */
#about {
    background-color: #fafafa;
   /* background-image: linear-gradient(
      rgba(234,94,69,.6),
      rgba(234,94,69, .3)
    ), url(flower2.jpg); */
    text-align: center;
    padding: 2% 13%;
}

#about h2 {
    font-size: 200%;
    color: #131313;
    padding: 1%;
}


#about p {
    font-size: 130%;
    display: block;
    vertical-align: center;
    padding: 3%;
    color: #737373;
    background-color: #fff;
    border-radius: 3px;
}
/* ----------- SERVICES SECTION ------------ */
#services {
    background-image: linear-gradient(
      rgba(0,0,0, .5),
      rgba(0, 0, 0, .8)
    ), url(/img/grass7.jpg);
     padding: 50px;
     word-spacing: 1px;
}

.textbox {
    font-family: 'thin';
    padding: 1%;
    margin: 0 10%;
    list-style: none;
    border-radius: 3px;
    text-align: center;
}

#services h2 {
    font-size: 200%;
}

#services .servicetitle {
    color: #fff;
    font-size: 180%;

}

/* background image titles  */
.services-photo {
    width: 100%; /*has the width of the parent element*/
    height: 120px;
    border-radius: 3px;
    margin-bottom: 5%;
    position: relative;
    overflow: hidden;
}

.absolute-text {
    position: absolute;
    text-align: center;
    width:100%;
    height: 50%;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
     font-size: 200%;
    font-family: "lato", sans-serif;
}

.services-photo img {
    border-radius: 3px;
    width: 100%; /*width of parent element */
    height: auto;
    opacity: 1;
    z-index: -1;
}

.mask {
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 3px;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
   background-color: rgba(255,255,255,.4);
}


/* Other Services styles */
#services h2, h3, p {
    color: #fff;
}

#services p{
    font-size: 130%;
    font-family: 'thin';
}
#services ul {
    margin:0;
} /*gets rid of space */

#services h2 {
    margin: 2%;
    text-align: center;
    font-size: 200%;
}

#services hr {
    width: 70%;
    margin: 2% 15%;
}

#services h3 {
    text-align: center;
    margin-bottom: 3%;
}

.headerbox {
    width:70%;
    display: block;
    margin: 0 auto;
}

#services li {
    color: #f2f2f2;
    margin-left: 3%;
    font-size: 120%;
    font-family: 'lato', 'serif';
    letter-spacing: 1px;
}
#section1 {
    background-color:#424242;
    width: 40%;
    margin: 2% 30% 0 30%;
    text-align: center;
}

#section1:hover{
    background-color: transparent;
}

#display {
    background-color: #2a2a2a;
    color: #a0a0a0;
    padding: 3% 5%;
    margin-top: 2%;
}

/* ------------- Contact Section --------------- */
#contact {
    padding: 0 2%;
    background-image: linear-gradient(
      rgba(0,0,0,.5),
      rgba(0,0,0, .9)
    ), url(/img/maple-min.jpg);
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}

#contact h2 {
    color: #fff;
    text-align: center;
    font-size: 210%;
    text-shadow: 3px 2px 8px rgba(0, 0, 0, 1);
    padding: 3%;
}

#contact h2 span {
    font-family: "lato", sans-serif;
}

.emailbtn {
    width: 20%;
    margin: 3% 40%;
    padding: 1% .75%;
    font-size: 200%;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #fff;
    font-family: 'thin', sans-serif;
    color: #fff;
    background-color: rgba(255,255,255,.2);
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.emailbtn:hover {
    background-color: transparent;
}


/* ------ FORM ------ */

.info {
    vertical-align: middle;
    margin: auto;
    padding: % 0;
}
.contact-form {
    width: 50%;
    margin: 0 auto;
    background-color: rgba,255,255,.4);
    padding: 1% 3%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 2%;
}

textarea {
    height: 100px;
}

*:focus {outline: none;}

#form h1, h3 {
    color: #131313;
    margin: 3%;
    text-align: center;
}

/* Form messages */
.messages {
    width:70%;
    margin: 2% 15%;
    border-radius: 3px;
    margin-bottom: 20px;
    color: #fff;
}

.success {
    background-color: rgba(50,205,50, 1);
}

.error {
    background-color: rgba(255,0,0, 1);
}

/* Submit Button */
#submit {
    font-family: "thin", sans-serif;
    width: 30%;
    margin: 5% 35%;
    font-size: 150%;
    padding: 1% 2%;
    background-color: rgba(255,255,255,.5);
    color: #131313;
    text-transform: uppercase;
    border:none;
    -webkit-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}

#submit:hover {
    background-color: rgba(255,255,255,.9);
}

/* --------------- FOOTER ------------------ */
footer {
    background-color: #131313;
    color: #454545;
    padding: 2%;
}

footer p {
    text-align: center;
}

.footer-nav, .footer-nav2 {
    list-style: none;
    float:left;
    padding:0;
    margin-left: 5px;
}

.social-links {
    list-style: none;
    float:right
}


.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #454545;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #eae9e9;
}

.social-links li a:hover,
.social-links li a:active {
    color: #eae9e9;
}

/* Animations */
/*before animation starts, content is not visible */
.js--wp-1,
.js--wp-2,
.js--wp-3
{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

/* when animated, content becomes visible */
.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}
